@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    min-width: 1920px;
    min-height: 1030px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-family: 'Muli', sans-serif;
    background: #121212;
    box-sizing: border-box;
    overflow: hidden;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 16px;
}
 
::-webkit-scrollbar-track {
    background-color: #1E1E1E;
    border-radius: 0px 300px 300px 0px;
}
 
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 0px 300px 300px 0px;
}

/* TOP */
#top {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 25px;
    box-sizing: border-box;
}

/* 1.search-container */
#search-container {
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1E1E1E;
    border-radius: 15px;
}

#search-container i {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    font-size: 25px;
}

#search-bar {
    all: unset;
    height: 50px;
    width: 250px;
    font-size: 20px;
    caret-color: rgba(255, 255, 255, 0.60);
    color: rgba(255, 255, 255, 0.60);
    background: #1E1E1E;
    border-radius: 0px 15px 15px 0px;
}

/* 2.filter-container */
#filter-container {
    height: 50px;
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1E1E1E;
    border-radius: 15px;
}

#filter-container i {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;
    font-size: 25px;
}

#filter-bar {
    height: 50px;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.expanded {
    border-radius: 0px 15px 0px 0px;
    background: #1E1E1E;
}

#filter-selected {
    height: 50px;
    width: 200px;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    align-items: center;
}

#filter-list {
    width: 250px;
    transform: translateY(50px);
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.60);
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.shown {
    border-radius: 0px 0px 15px 15px;
}

.filter {
    width: 250px;
    height: 50px;
    padding-left: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: #2D2D2D;
    cursor: pointer;
}

.selected {
    background: rgb(60, 60, 60);
}

/* 3.actions */
#actions {
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.action {
    height: 50px;
    width: 100px;
    position: relative;
    display: flex;
    background: #1E1E1E;
    border-radius: 15px;
    cursor: pointer;
}

.action i {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
}

.action:hover .info {
    height: 85px;
}

.info {
    height: 50px;
    width: 100px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding-bottom: 10px;
    box-sizing: border-box;
    background: #222222;
    color: rgba(255, 255, 255, 0.60);
    font-size: 15px;
    border-radius: 15px;
    z-index: -1;
    transition: all 0.5s ease;
}

.spin {
    animation: spin 0.5s forwards;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

/* BOTTOM */
#bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 25px;
    box-sizing: border-box;
    overflow: hidden;
}

/* main-container */
#main-container {
    height: 100%;
    width: 100%; 
    background: #1E1E1E;
    border-radius: 15px;
    overflow: hidden;
}

/* main-container grid */
#grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* folder OUTSIDE */
.folder {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    background: #222222;
    border-radius: 15px;
    overflow: hidden;
}

/* folder INSIDE */

/* folder-main */
.folder-main {
    flex: 1.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: #2D2D2D;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
}
.folder-main-cover{ 
    width: 100%;
    flex: 7;
    background: no-repeat center center/cover;
    border-radius: 15px 0px 0px 15px;
    overflow: hidden;
}

.folder-main-cover-shadow {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.folder-main-content {
    width: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
}

.folder-main-content h4 {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 600;
    font-size: 16px;
}

.folder-main-content p {
    color: rgba(255, 255, 255, 0.38);
    font-size: 13px;
}

/* folder-content */
.folder-content {
    flex: 3;
    height: 100%;
    padding: 10px 0px 10px 10px;
    box-sizing: border-box;
}

.folder-content-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
    background: #272727;
    border-radius: 15px;
    box-sizing: border-box;
}

.folder-content-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    border-radius: 15px;
    overflow: hidden;
    font-size: 50px;
}

/* folder-info */
.folder-info {
    flex: 5;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    box-sizing: border-box;
}

.folder-info-alias {
    grid-column: 1;
    grid-row: 1;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}
.folder-info-description {
    grid-column: 2;
    grid-row: 1;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.info-content {
    background: #272727;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.info-content label {
    color: rgba(255, 255, 255, 0.60);
    font-size: 17px;
    text-align: center;
}

.info-content p {
    color: rgba(255, 255, 255, 0.38);
    font-size: 13px;
    text-align: left;
    word-wrap: break-word;
}

a:link {
    color: rgba(255, 255, 255, 0.38);
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgba(255, 255, 255, 0.38);
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.60);
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: rgba(255, 255, 255, 0.60);
    background-color: transparent;
    text-decoration: none;
}

/*OVERLAY*/
#overlay-shadow {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    min-width: 1920px;
    min-height: 1030px;
    background: rgba(0, 0, 0, 0.800);
}

#overlay {
    height: 90%;
    width: 90%;
    border-radius: 15px;
    background: #121212;
    position: relative;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* 1.form-left */
#form-left {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#form-left-name {
    all: unset;
    background: #1E1E1E;
    height: 50px;
    width: 100%;
    font-size: 20px;
    caret-color: rgba(255, 255, 255, 0.60);
    color: rgba(255, 255, 255, 0.60);
    padding:  0px 15px;
    box-sizing: border-box;
    border-radius: 15px;
}

#form-left-alias {
    all: unset;
    background: #1E1E1E;
    height: 150px;
    width: 100%;
    font-size: 20px;
    caret-color: rgba(255, 255, 255, 0.60);
    color: rgba(255, 255, 255, 0.60);
    padding:  15px 15px;
    word-wrap: break-word;
    box-sizing: border-box;
    border-radius: 15px;
}

#form-left-description {
    all: unset;
    background: #1E1E1E;
    flex: 1;
    width: 100%;
    font-size: 20px;
    caret-color: rgba(255, 255, 255, 0.60);
    color: rgba(255, 255, 255, 0.60);
    padding:  15px 15px;
    word-wrap: break-word;
    box-sizing: border-box;
    border-radius: 15px;
}

/* 2.form-right */
#form-right {
    height: 100%;
    width: 70%;
    border-radius: 15px;
    overflow: hidden;
    background: #1E1E1E;
}

#form-right-grid {
    height: 95%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;

    overflow-y: scroll;
    padding: 5px;
    box-sizing: border-box;
}

.form-right-grid-file {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    font-size: 50px;
    padding: 5px;
    border-radius: 15px;
    background: #222222;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    content-visibility: auto;
    background-color: #222222;
}

.file-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.file-overlay i {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.87);
    font-size: 50px;
}

.file-overlay-name {
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
    max-width: 100%;
    word-wrap: break-word;
    font-size: 12px;
    bottom: 5px;
}

#form-right-import {
    color: rgba(255, 255, 255, 0.60);
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 3.dots */
.dot {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    background: #121212;
    cursor: pointer;
    height: 100px;
    width: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
}

.dot:hover {
    background:#1E1E1E;
}

.close-dot {
    top: 0px;
    right: -75px;
}

.save-dot {
    top: 125px;
    right: -75px;
}

.delete-dot {
    bottom: 0px;
    right: -75px;
}